.VideoBackground {
    height: 90vh;
    position: relative;

    &-Content,
    &-Video {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &-Vide {
        z-index: 1;
    }

    &-Content {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
}
